.product-form-container {
  width: 60%;
  max-width: 600px;
  margin: 40px auto;
  padding: 48px;
  border-radius: 12px;
  box-shadow: 0 0 20px 14px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.product-form-container h2 {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 0px;
  font-size: 24px;
  color: #333;
}

.product-form label {
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
}

.product-form input[type="text"],
.product-form input[type="number"],
.product-form input[type="file"],
.product-form select,
.product-form textarea {
  width: 96%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.product-form select {
  width: 99.5%;
}

.product-form textarea {
  resize: none;
}

/* .product-form button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.product-form button:hover {
  background-color: #218838;
} */


.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.product-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.product-form button[type='submit'] {
  background-color: #4caf50;
  color: white;
}

.cancel-btn {
  background-color: #e74c3c;
  color: white;
}

.dollar-class{
  position: absolute;
  left: 10px;
  top: 35px;
}

.price-label{
  position: relative;
}

.price-input{
  padding-left: 300px;
}