.table-container {
  background-color: #f9f9f9;
  /* height: 95vw; */
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  /* padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem; */
}

.table-box {
  background-color: #fff;
  border-radius: 8px;
  padding: 1.2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  overflow-x: auto;
}

.table-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.top-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;
}

.search-bar {
  display: flex;
  gap: 0.5rem;
  position: relative;
}

.search-icon{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.search-bar input {
  padding: 8px 10px 8px 33px; /* Adjusted padding for search icon */
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* font-size: 14px; */
}

.search-bar input:focus-visible {
  outline: 2px solid #00aaff;
}
/* 
.btn {
  background-color: #3870eb;
  color: white;
  border: none;
  padding: 6px 12px;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
  
} */

.action-buttons {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.table-footer {
  margin: 1.5rem 0rem 0.4rem 0rem;
  font-family: sans-serif;
}

.entries-select {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 14px;
  color: #3870ebc7;
  margin-bottom: 5px;
}

.entries-select select {
  padding: 4px 6px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.table-wrapper {
  overflow-x: auto;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  /* min-width: 900px; */
}

.product-table th {
  color: #444;
  background-color: #f5f5f5;
  font-weight: 600;
}

.sort-th {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product-table td {
  color: #202020;
}

.product-table th,
.product-table td {
  padding: 12px 14px;
  text-align: left;
  font-size: 14px;
  border-top: 1px solid #eee;
  white-space: nowrap;
}

.product-table img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.btn-edit,
.btn-delete {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
}

.btn-edit {
  background-color: #3870eb;
  color: white;
  margin-right: 8px;
}

.btn-delete {
  background-color: #e53e3e;
  color: white;
}

.action-btnn {
  padding: 4px 8px;
  margin-right: 10px;
  display: inline;
}

/* .pagination {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  align-items: center;
  margin-top: 1rem;
} */

.page-link,
.page-number {
  padding: 4px 10px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  color: #333;
  font-family: sans-serif;
  background-color: #f5f5f5;
  border: none;
}

.page-link {
  padding: 6px 6px;
}

.page-number.active {
  background-color: #3870eb;
  color: white;
}

.paginate {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.deleteBtn {
  background-color: #ef4444;
  color: white;
  border: none;
}

.upload-csv {
  background-color: #4c7eeb;
  color: white;
  border: none;
}

.download-csv {
  background-color: #10b981;
  color: white;
  border: none;
}

.height {
  height: 20px;
}

.page-size {
  padding: 2px 7px;
  display: inline;
  background-color: white;
  border: 1.5px solid black;
}

/* 
.page:hover{
      background-color: #f5f5f5;
} */

.page-container {
  display: flex;
  gap: 0.3rem;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
