.product-form-container {
  width: 60%;
  max-width: 600px;
  margin: 40px auto;
  padding: 48px;
  border-radius: 12px;
  box-shadow: 0 0 20px 14px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.product-form-container h2 {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 0px;
  font-size: 24px;
  color: #333;
}

.product-form label {
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
}

.product-form input[type="text"],
.product-form input[type="number"],
.product-form input[type="file"],
.product-form select,
.product-form textarea {
  width: 96%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.product-form select {
  width: 99.5%;
}

.product-form textarea {
  resize: none;
}

/* .product-form button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.product-form button:hover {
  background-color: #218838;
} */


.form-actions {
  display: flex;
  justify-content:end ;
  margin-top: 40px;
}

.product-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.product-form button[type='submit'] {
  background-color: #4caf50;
  color: white;
}

.cancel-btn {
  background-color: #e74c3c;
  color: white;
}

.rs-class {
  position: absolute;
  left: 10px;
  top: 10px;
}

.price-label {
  position: relative;
  right: 25px;
  width: 65%;
}

.price-input {
  padding-left: 300px;
}

.position-absolute {
  position: absolute;
  min-width: 150px;
  bottom: 2px;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
  /*ck editor's in built class, we use to set max height of it*/
  max-height: 20vh;
}

.add-select {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  gap: 20px;
  align-items: center;
}


/* ----  DROPDOWN  ----*/
/* ----  DROPDOWN  ----*/
/* ----  DROPDOWN  ----*/
/* ----  DROPDOWN  ----*/



.subcat-dropdown-container {
  width: 63%;
  position: relative;
  font-family: Arial, sans-serif;
  margin-top: 8px;
}

.subcat-dropdown-header {
  padding: 10px 15px;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #ccc;
  user-select: none;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 20px;
}

.subcat-dropdown-header:hover {
  background-color: #e0e0e0;
}

.arrow {
  transition: transform 0.2s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.subcat-dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 5px;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.subcat-dropdown-list li {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  list-style: none;
  display: flex;
  justify-content: space-between;

}

.subcat-dropdown-list li:hover {
  background-color: #f7f7f7;
}

.add-size {
  color: green;
  font-weight: 300;
  -webkit-text-stroke: 1px;
  opacity: 70%;
}

.subcat-dropdown-list li i:hover {
  color: red;
  font-weight: 300;
  /* -webkit-text-stroke: 1px; */
  opacity: 70%;
}

.chip {
  display: inline-block;
  padding: 0 10px;
  /* height: 50px; */
  font-size: 15px;
  line-height: 20px;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin-right: 5px;
  margin-bottom: 10px;
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}