.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.subcat-modal-content {
  background-color: #fff;
  width: 400px;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.subcat-modal-content h2 {
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
}

.subcategory-form label {
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
}

.subcategory-form input[type="text"],
.subcategory-form select,
.subcategory-form textarea {
  width: 94%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.subcategory-form select{
    width: 99.5%;
}


.subcategory-form textarea {
  resize: none;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.subcategory-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.subcategory-form button[type='submit'] {
  background-color: #4caf50;
  color: white;
}

.cancel-btn {
  background-color: #e74c3c;
  color: white;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){  /*ck editor's in built class, we use to set max height of it*/
  max-height: 12vh;
}